<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Garden Grows</title>
</head>
<body>
    <header>
        <div>
            <span>Find Gardens</span>
            <input type="search" name="search" id="search" value="Enter Zip Code">
        </div>
        <img id="trowel" src="trowel3.jpeg" alt="">
        <div>
            <a href="/profile.ejs" target="_blank" rel="noopener noreferrer"><span>login</span></a>
            <a href="/signup.html" target="_blank" rel="noopener noreferrer"><span>sign up</span></a>
        </div>
    </header>
    <h1>Todo List: </h1>//title
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <section id="main">
        <section id="leftMain">
            <img id="gardener" src="/resources/gardener.jpg" alt="">
        </section>
        <section id="rightMain">
            <h1>Grow your community, <br> Grow your garden.</h1>
            <h3>We connect local gardeners, ranchers, and farmers to each other and to the community they serve.</h3>
            <section id="buttons">
                <a href="/resources/shop/shop.html" class="button">Buy</a>
                <a href="" class="button">Sell</a>
                <a href="" class="button">Let Land</a>
                <a href="" class="button">Find Land</a>
            </section>
        </section>
    </section>
    <section id="belowMain">
        <h2>Garden Grows is Necessary to...</h2>
    </section>
    <section id="articleBox">
        <section class="article" id="art1">
            <h3>Connect With Our Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates error deserunt ab esse aut exercitationem nulla ipsa vel ullam distinctio rem aperiam, ipsum cupiditate eligendi enim aspernatur modi, nisi totam.</p>
        </section>
        <section class="article" id="art2">
            <h3>Bolster the Supply Chain</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates error deserunt ab esse aut exercitationem nulla ipsa vel ullam distinctio rem aperiam, ipsum cupiditate eligendi enim aspernatur modi, nisi totam.</p>
        </section>
        <section class="article" id="art3">
            <h3>Environment and Economy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates error deserunt ab esse aut exercitationem nulla ipsa vel ullam distinctio rem aperiam, ipsum cupiditate eligendi enim aspernatur modi, nisi totam.</p>
        </section>
    </section>
    <footer>
        <section id="footerTop">
            <section id="footerLeft">
                <h3>Our mission is to connect communities with their producers and introduce everybody to agriculture</h3>
            </section>
            <section id="footerRight">
                <span>Resources</span>
                <span>Our Team</span>
                <span>News</span>
                <span>Impact</span>
                <span>Careers</span>
            </section>
        </section>
            <section id="footerBottom">
                <p>hello</p>
            </section>
    </footer>
</body>
<script src='js/main.js'></script>
</html>