<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Randazzo Farms</title>
</head>
<body>
    <header>
        <img id="trowel" src="/resources/trowel3.jpeg" alt="">
        <div>
            <span>login</span>
            <a href="/signup.html" target="_blank" rel="noopener noreferrer"><span>sign up</span></a>
        </div>
    </header>
    <script>
        const ul = document.querySelector('ul')
        const getUsers = async() => {
          const res = await fetch('/api/auth/getUsers')
          const data = await res.json()
          data.user.map((mappedUser)=> {
            if (mappedUser.username !== 'admin') {
              let li = `<li> <b>Username</b> => ${mappedUser.username} <br> <b>Role</b> => ${mappedUser.role} </li>`
              ul.innerHTML += li
            } else {
              return null
            }
          })
        }
        getUsers()
        </script>
    <footer>
        <section id="footerTop">
            <section id="footerLeft">
                <h3>Our mission is to connect communities with their producers and introduce everybody to agriculture</h3>
            </section>
            <section id="footerRight">
                <span>Resources</span>
                <span>Our Team</span>
                <span>News</span>
                <span>Impact</span>
                <span>Careers</span>
            </section>
        </section>
            <section id="footerBottom">
                <p>hello</p>
            </section>
    </footer>

</body>
</html>