header {
  width: 100%;
  display:inline-flex;
  justify-content: space-between;
  flex: 20%;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

#trowel{
  max-width: 15rem;
}
#search {
  max-height: 3rem;
  border-radius: 5%;
  max-width: 12rem;
}
header > div > span{
  font-size: 1.2rem;
  padding: 1rem;
  color: rgb(9, 144, 20);
  margin-right: 1rem;
}
 .pic{
  display: none;
}
img{
  max-width: 100%;
  max-height: 100%;
}


.photos > section{
 width: 90%;
 height: 15rem;
 margin-left: 1rem;
 margin-top: 1rem;
 border: 1px solid black;
}

@media screen and (min-width: 300px){
.logo{
  font-size: 1rem;
} 
.pic{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  max-width: 55px;
  max-height: 55px;
}
.photos {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 15rem;
  
 }
 .photo1{
  grid-column: 1;
  grid-row: 1;
 }
 .photo2{
  grid-column: 1;
  grid-row: 2;
}
.photo3{
  grid-column: 1;
  grid-row: 3;
}
.photo4{
  grid-column: 2;
  grid-row: 1;
}
.photo5{
  grid-column: 2;
  grid-row: 2;
}
.photo6{
  grid-column: 2;
  grid-row: 3;
}
}
@media screen and (min-width: 630px){
  .photos {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 15rem;
    
   }




}